In [2]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [42]:
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go

In [41]:
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import colorlover as cl
from IPython.display import HTML


sns.set_style('darkgrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [5]:
act = pd.read_csv('../data/act.csv')
sat = pd.read_csv('../data/sat.csv')
income = pd.read_csv('../data/ACS_11_1YR_R1901.US01PRF/ACS_11_1YR_R1901.US01PRF_with_ann.csv')

In [6]:
# Need to reassign Participation Rates from object to integer

sat.Participation = sat.Participation.map(lambda x: (x.replace("%", "")))

In [7]:
act.Participation = act.Participation.map(lambda x: float(x.replace("%", "")))

In [8]:
income.drop(1, axis=0, inplace=True)

In [9]:
income.head()

,GEO.id,GEO.id2,GEO.display-label,GRT_STUB.target-geo-id,GRT_STUB.target-geo-id2,GRT_STUB.rank-label,GRT_STUB.display-label,EST,MOE
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Rank,Geographical Area,Dollar,Margin of Error
2,0100000US,NaN,United States,0400000US24,24,1,Maryland,70004,804
3,0100000US,NaN,United States,0400000US02,02,2,Alaska,67825,1948
4,0100000US,NaN,United States,0400000US34,34,3,New Jersey,67458,721
5,0100000US,NaN,United States,0400000US09,09,4,Connecticut,65753,854

In [10]:
income_column_rename = {
  'GRT_STUB.display-label': 'State',
    'EST' : 'Average State Income',
}

income.rename(columns=income_column_rename, inplace=True)

In [11]:
# Resave it as new csv
income.to_csv('income.csv', index=False)

In [12]:
#Read it back into Pandas as csv
pd.read_csv('income.csv')

,GEO.id,GEO.id2,GEO.display-label,GRT_STUB.target-geo-id,GRT_STUB.target-geo-id2,GRT_STUB.rank-label,State,Average State Income,MOE
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Rank,Geographical Area,Dollar,Margin of Error
1,0100000US,NaN,United States,0400000US24,24,1,Maryland,70004,804
2,0100000US,NaN,United States,0400000US02,02,2,Alaska,67825,1948
3,0100000US,NaN,United States,0400000US34,34,3,New Jersey,67458,721
4,0100000US,NaN,United States,0400000US09,09,4,Connecticut,65753,854
5,0100000US,NaN,United States,0400000US11,11,5,District of Columbia,63124,2407
6,0100000US,NaN,United States,0400000US25,25,6,Massachusetts,62859,902
7,0100000US,NaN,United States,0400000US33,33,7,New Hampshire,62647,1415
8,0100000US,NaN,United States,0400000US51,51,8,Virginia,61882,507
9,0100000US,NaN,United States,0400000US15,15,9,Hawaii,61821,1035
10,0100000US,NaN,United States,0400000US10,10,10,Delaware,58814,1586
11,0100000US,NaN,United States,0400000US06,06,11,California,57287,279
12,0100000US,NaN,United States,0400000US27,27,12,Minnesota,56954,488
13,0100000US,NaN,United States,0400000US53,53,13,Washington,56835,569
14,0100000US,NaN,United States,0400000US56,56,14,Wyoming,56322,1890
15,0100000US,NaN,United States,0400000US49,49,15,Utah,55869,805
16,0100000US,NaN,United States,0400000US08,08,16,Colorado,55387,605
17,0100000US,NaN,United States,0400000US36,36,17,New York,55246,398
18,0100000US,NaN,United States,0400000US44,44,18,Rhode Island,53636,1699
19,0100000US,NaN,United States,0400000US17,17,19,Illinois,53234,511
20,0100000US,NaN,United States,0400000US50,50,20,Vermont,52776,1420
21,0100000US,NaN,United States,0400000US38,38,21,North Dakota,51704,1260
22,0100000US,NaN,United States,0400000US55,55,22,Wisconsin,50395,428
23,0100000US,NaN,United States,0400000US31,31,23,Nebraska,50296,687
24,0100000US,NaN,United States,0400000US42,42,24,Pennsylvania,50228,292
25,0100000US,NaN,United States,0400000US19,19,25,Iowa,49427,693
26,0100000US,NaN,United States,0400000US48,48,26,Texas,49392,391
27,0100000US,NaN,United States,0400000US20,20,27,Kansas,48964,756
28,0100000US,NaN,United States,0400000US32,32,28,Nevada,48927,1020
29,0100000US,NaN,United States,0400000US46,46,29,South Dakota,48321,1598
30,0100000US,NaN,United States,0400000US41,41,30,Oregon,46816,711
31,0100000US,NaN,United States,0400000US04,04,31,Arizona,46709,554
32,0100000US,NaN,United States,0400000US18,18,32,Indiana,46438,455
33,0100000US,NaN,United States,0400000US23,23,33,Maine,46033,802
34,0100000US,NaN,United States,0400000US13,13,34,Georgia,46007,454
35,0100000US,NaN,United States,0400000US26,26,35,Michigan,45981,330
36,0100000US,NaN,United States,0400000US39,39,36,Ohio,45749,319
37,0100000US,NaN,United States,0400000US29,29,37,Missouri,45247,529
38,0100000US,NaN,United States,0400000US12,12,38,Florida,44299,406
39,0100000US,NaN,United States,0400000US30,30,39,Montana,44222,1078
40,0100000US,NaN,United States,0400000US37,37,40,North Carolina,43916,519
41,0100000US,NaN,United States,0400000US16,16,41,Idaho,43341,1320
42,0100000US,NaN,United States,0400000US40,40,42,Oklahoma,43225,607
43,0100000US,NaN,United States,0400000US45,45,43,South Carolina,42367,559
44,0100000US,NaN,United States,0400000US35,35,44,New Mexico,41963,803
45,0100000US,NaN,United States,0400000US22,22,45,Louisiana,41734,528
46,0100000US,NaN,United States,0400000US47,47,46,Tennessee,41693,423
47,0100000US,NaN,United States,0400000US01,01,47,Alabama,41415,550
48,0100000US,NaN,United States,0400000US21,21,48,Kentucky,41141,464
49,0100000US,NaN,United States,0400000US05,05,49,Arkansas,38758,761
50,0100000US,NaN,United States,0400000US54,54,50,West Virginia,38482,875
51,0100000US,NaN,United States,0400000US28,28,51,Mississippi,36919,583
52,0100000US,NaN,United States,0400000US72,72,NaN,Puerto Rico,18660,358

In [13]:
income.sort_index(ascending=False)
income.head()

,GEO.id,GEO.id2,GEO.display-label,GRT_STUB.target-geo-id,GRT_STUB.target-geo-id2,GRT_STUB.rank-label,State,Average State Income,MOE
0,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Rank,Geographical Area,Dollar,Margin of Error
2,0100000US,NaN,United States,0400000US24,24,1,Maryland,70004,804
3,0100000US,NaN,United States,0400000US02,02,2,Alaska,67825,1948
4,0100000US,NaN,United States,0400000US34,34,3,New Jersey,67458,721
5,0100000US,NaN,United States,0400000US09,09,4,Connecticut,65753,854

In [14]:
# Remove the unneccesary column:
sat.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
# Add a column for SAT:
sat['colname'] = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [16]:
sat_column_rename = {
  'colname': 'code'
}

sat.rename(columns=sat_column_rename, inplace=True)

In [17]:
# Resave it as new csv
sat.to_csv('sat.csv', index=False)

In [18]:
#Read it back into Pandas as csv
pd.read_csv('sat.csv')

,State,Participation,Evidence-Based Reading and Writing,Math,Total,code
0,Alabama,5,593,572,1165,AL
1,Alaska,38,547,533,1080,AK
2,Arizona,30,563,553,1116,AZ
3,Arkansas,3,614,594,1208,AR
4,California,53,531,524,1055,CA
5,Colorado,11,606,595,1201,CO
6,Connecticut,100,530,512,1041,CT
7,Delaware,100,503,492,996,DE
8,District of Columbia,100,482,468,950,DC
9,Florida,83,520,497,1017,FL
10,Georgia,61,535,515,1050,GA
11,Hawaii,55,544,541,1085,HI
12,Idaho,93,513,493,1005,ID
13,Illinois,9,559,556,1115,IL
14,Indiana,63,542,532,1074,IN
15,Iowa,2,641,635,1275,IA
16,Kansas,4,632,628,1260,KS
17,Kentucky,4,631,616,1247,KY
18,Louisiana,4,611,586,1198,LA
19,Maine,95,513,499,1012,ME
20,Maryland,69,536,52,1060,MD
21,Massachusetts,76,555,551,1107,MA
22,Michigan,100,509,495,1005,MI
23,Minnesota,3,644,651,1295,MN
24,Mississippi,2,634,607,1242,MS
25,Missouri,3,640,631,1271,MO
26,Montana,10,605,591,1196,MT
27,Nebraska,3,629,625,1253,NE
28,Nevada,26,563,553,1116,NV
29,New Hampshire,96,532,520,1052,NH
30,New Jersey,70,530,526,1056,NJ
31,New Mexico,11,577,561,1138,NM
32,New York,67,528,523,1052,NY
33,North Carolina,49,546,535,1081,NC
34,North Dakota,2,635,621,1256,ND
35,Ohio,12,578,570,1149,OH
36,Oklahoma,7,530,517,1047,OK
37,Oregon,43,560,548,1108,OR
38,Pennsylvania,65,540,531,1071,PA
39,Rhode Island,71,539,524,1062,RI
40,South Carolina,50,543,521,1064,SC
41,South Dakota,3,612,603,1216,SD
42,Tennessee,5,623,604,1228,TN
43,Texas,62,513,507,1020,TX
44,Utah,3,624,614,1238,UT
45,Vermont,60,562,551,1114,VT
46,Virginia,65,561,541,1102,VA
47,Washington,64,541,534,1075,WA
48,West Virginia,14,558,528,1086,WV
49,Wisconsin,3,642,649,1291,WI
50,Wyoming,3,626,604,1230,WY

In [19]:
# Remove the unneccesary column:
act.drop('Unnamed: 0', axis=1, inplace=True)

In [20]:
# Remove the National row:
act.drop(0, axis=0, inplace=True)

In [21]:
# Add a column for ACT:
act['code'] = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [22]:
act.to_csv('act.csv', index=False)

In [23]:
pd.read_csv('act.csv')

,State,Participation,English,Math,Reading,Science,Composite,code
0,Alabama,100.0,18.9,18.4,19.7,19.4,19.2,AL
1,Alaska,65.0,18.7,19.8,20.4,19.9,19.8,AK
2,Arizona,62.0,18.6,19.8,20.1,19.8,19.7,AZ
3,Arkansas,100.0,18.9,19.0,19.7,19.5,19.4,AR
4,California,31.0,22.5,22.7,23.1,22.2,22.8,CA
5,Colorado,100.0,20.1,20.3,21.2,20.9,20.8,CO
6,Connecticut,31.0,25.5,24.6,25.6,24.6,25.2,CT
7,Delaware,18.0,24.1,23.4,24.8,23.6,24.1,DE
8,District of Columbia,32.0,24.4,23.5,24.9,23.5,24.2,DC
9,Florida,73.0,19.0,19.4,21.0,19.4,19.8,FL
10,Georgia,55.0,21.0,20.9,22.0,21.3,21.4,GA
11,Hawaii,90.0,17.8,19.2,19.2,19.3,19.0,HI
12,Idaho,38.0,21.9,21.8,23.0,22.1,22.3,ID
13,Illinois,93.0,21.0,21.2,21.6,21.3,21.4,IL
14,Indiana,35.0,22.0,22.4,23.2,22.3,22.6,IN
15,Iowa,67.0,21.2,21.3,22.6,22.1,21.9,IA
16,Kansas,73.0,21.1,21.3,22.3,21.7,21.7,KS
17,Kentucky,100.0,19.6,19.4,20.5,20.1,20.0,KY
18,Louisiana,100.0,19.4,18.8,19.8,19.6,19.5,LA
19,Maine,8.0,24.2,24.0,24.8,23.7,24.3,ME
20,Maryland,28.0,23.3,23.1,24.2,2.3,23.6,MD
21,Massachusetts,29.0,25.4,25.3,25.9,24.7,25.4,MA
22,Michigan,29.0,24.1,23.7,24.5,23.8,24.1,MI
23,Minnesota,100.0,20.4,21.5,21.8,21.6,21.5,MN
24,Mississippi,100.0,18.2,18.1,18.8,18.8,18.6,MS
25,Missouri,100.0,19.8,19.9,20.8,20.5,20.4,MO
26,Montana,100.0,19.0,20.2,21.0,20.5,20.3,MT
27,Nebraska,84.0,20.9,20.9,21.9,21.5,21.4,NE
28,Nevada,100.0,16.3,18.0,18.1,18.2,17.8,NV
29,New Hampshire,18.0,25.4,25.1,26.0,24.9,25.5,NH
30,New Jersey,34.0,23.8,23.8,24.1,23.2,23.9,NJ
31,New Mexico,66.0,18.6,19.4,20.4,20.0,19.7,NM
32,New York,31.0,23.8,24.0,24.6,23.9,24.2,NY
33,North Carolina,100.0,17.8,19.3,19.6,19.3,19.1,NC
34,North Dakota,98.0,19.0,20.4,20.5,20.6,20.3,ND
35,Ohio,75.0,21.2,21.6,22.5,22.0,22.0,OH
36,Oklahoma,100.0,18.5,18.8,20.1,19.6,19.4,OK
37,Oregon,40.0,21.2,21.5,22.4,21.7,21.8,OR
38,Pennsylvania,23.0,23.4,23.4,24.2,23.3,23.7,PA
39,Rhode Island,21.0,24.0,23.3,24.7,23.4,24.0,RI
40,South Carolina,100.0,17.5,18.6,19.1,18.9,18.7,SC
41,South Dakota,80.0,20.7,21.5,22.3,22.0,21.8,SD
42,Tennessee,100.0,19.5,19.2,20.1,19.9,19.8,TN
43,Texas,45.0,19.5,20.7,21.1,20.9,20.7,TX
44,Utah,100.0,19.5,19.9,20.8,20.6,20.3,UT
45,Vermont,29.0,23.3,23.1,24.4,23.2,23.6,VT
46,Virginia,29.0,23.5,23.3,24.6,23.5,23.8,VA
47,Washington,29.0,20.9,21.9,22.1,22.0,21.9,WA
48,West Virginia,69.0,20.0,19.4,21.2,20.5,20.4,WV
49,Wisconsin,100.0,19.7,20.4,20.6,20.9,20.5,WI
50,Wyoming,100.0,19.4,19.8,20.8,20.6,20.2,WY

In [24]:
import plotly.plotly as py
import pandas as pd

df = sat

for col in df.columns:
    df[col] = df[col].astype(str)

df['text'] = df['State'] + '<br>' +\
'Participation: '+df['Participation']


data = [ dict(
        type='choropleth',
        colorscale = 'Viridis',
# 'Blackbody'
# ‘Bluered’,
# ‘Blues’,
# ‘Earth’,
# ‘Electric’,
# ‘Greens’,
# ‘Greys’,
# ‘Hot’,
# ‘Jet’,
# ‘Picnic’,
# ‘Portland’,
# ‘Rainbow’,
# ‘RdBu’,
# ‘Reds’,
# ‘Viridis’,
# ‘YlGnBu’,
# ‘YlOrRd’
        autocolorscale = False,
        locations = df['code'],
        z = df['Participation'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Percentage Rates")
        ) ]

layout = dict(
        title = 'SAT Participation Rates by State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot(fig)

In [25]:
sat.Total = sat.Total.astype(int)

In [26]:
sat.sort_values(['Total'], inplace=True)

In [27]:
layout = go.Layout(
    autosize=True,
    title="SAT Composite Score for All States", 
    xaxis={'title':''}, 
    yaxis={'title':'Average Total Score', 'range' : [900, 1300]})

#      Valid attributes for Layout:

#     'angularaxis', 'annotations', 'autosize', 'bargap', 'bargroupgap',
#     'barmode', 'barnorm', 'boxgap', 'boxgroupgap', 'boxmode', 'calendar',
#     'colorway', 'datarevision', 'direction', 'dragmode', 'font', 'geo',
#     'grid', 'height', 'hiddenlabels', 'hiddenlabelssrc', 'hidesources',
#     'hoverdistance', 'hoverlabel', 'hovermode', 'images', 'legend',
#     'mapbox', 'margin', 'orientation', 'paper_bgcolor', 'plot_bgcolor',
#     'polar', 'radialaxis', 'scene', 'separators', 'shapes', 'showlegend',
#     'sliders', 'spikedistance', 'ternary', 'title', 'titlefont',
#     'updatemenus', 'violingap', 'violingroupgap', 'violinmode', 'width',
#     'xaxis', 'yaxis'

x0=sat.State
y0=sat.Total

trace1 = go.Bar(x=x0, y=y0,
               marker={'color': 'rgb(153, 255, 153)'})

# Valid attributes for Barplot:

data = [trace1]

fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [28]:
# Correlation chart betwen SAT participation and composite score

layout = go.Layout(
    autosize=True,
    title="Correlation between Participation Rates and Total SAT Score", 
    xaxis={'title':'Participation Rate'}, 
    yaxis={'title':'Average Total Score', 'range' : [800, 1400]})

#      Valid attributes for Layout:

#     'angularaxis', 'annotations', 'autosize', 'bargap', 'bargroupgap',
#     'barmode', 'barnorm', 'boxgap', 'boxgroupgap', 'boxmode', 'calendar',
#     'colorway', 'datarevision', 'direction', 'dragmode', 'font', 'geo',
#     'grid', 'height', 'hiddenlabels', 'hiddenlabelssrc', 'hidesources',
#     'hoverdistance', 'hoverlabel', 'hovermode', 'images', 'legend',
#     'mapbox', 'margin', 'orientation', 'paper_bgcolor', 'plot_bgcolor',
#     'polar', 'radialaxis', 'scene', 'separators', 'shapes', 'showlegend',
#     'sliders', 'spikedistance', 'ternary', 'title', 'titlefont',
#     'updatemenus', 'violingap', 'violingroupgap', 'violinmode', 'width',
#     'xaxis', 'yaxis'

x0=sat.Participation
y0=sat.Total

trace1 = go.Scatter(x=x0, y=y0,
                    mode = 'markers',
                    marker={'color': np.random.randn(500),
                            'colorscale' : 'Viridis',
                            'size' : 14,
                            'showscale' : True,
                            'colorbar' : {'title' : 'Correlation Matrix'}})

# Valid attributes for Barplot:

data = [trace1]

fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [29]:
participation_over_50 = sat.Participation.astype(int) > 50

In [30]:
participation_over_75 = sat.Participation.astype(int) > 75

In [31]:
sat_not_mandatory = sat.Participation.astype(int) != 100

In [33]:
sat[sat_not_mandatory].head()

,State,Participation,Evidence-Based Reading and Writing,Math,Total,code,text
12,Idaho,93,513,493,1005,ID,Idaho<br>Participation: 93
19,Maine,95,513,499,1012,ME,Maine<br>Participation: 95
9,Florida,83,520,497,1017,FL,Florida<br>Participation: 83
43,Texas,62,513,507,1020,TX,Texas<br>Participation: 62
36,Oklahoma,7,530,517,1047,OK,Oklahoma<br>Participation: 7

In [34]:
sat_not_mandatory_and_over_50 = (sat.Participation.astype(int) != 100) & (sat.Participation.astype(int) > 50)

In [37]:
sat[sat_not_mandatory_and_over_50].head()

,State,Participation,Evidence-Based Reading and Writing,Math,Total,code,text
12,Idaho,93,513,493,1005,ID,Idaho<br>Participation: 93
19,Maine,95,513,499,1012,ME,Maine<br>Participation: 95
9,Florida,83,520,497,1017,FL,Florida<br>Participation: 83
43,Texas,62,513,507,1020,TX,Texas<br>Participation: 62
10,Georgia,61,535,515,1050,GA,Georgia<br>Participation: 61

In [38]:
layout = go.Layout(
    autosize=True,
    title="SAT Composite Score for Non-Mandatory States with Participation Rates Higher than 50%", 
    xaxis={'title':''}, 
    yaxis={'title':'Average Total Score', 'range' : [900, 1100]})

#      Valid attributes for Layout:

#     'angularaxis', 'annotations', 'autosize', 'bargap', 'bargroupgap',
#     'barmode', 'barnorm', 'boxgap', 'boxgroupgap', 'boxmode', 'calendar',
#     'colorway', 'datarevision', 'direction', 'dragmode', 'font', 'geo',
#     'grid', 'height', 'hiddenlabels', 'hiddenlabelssrc', 'hidesources',
#     'hoverdistance', 'hoverlabel', 'hovermode', 'images', 'legend',
#     'mapbox', 'margin', 'orientation', 'paper_bgcolor', 'plot_bgcolor',
#     'polar', 'radialaxis', 'scene', 'separators', 'shapes', 'showlegend',
#     'sliders', 'spikedistance', 'ternary', 'title', 'titlefont',
#     'updatemenus', 'violingap', 'violingroupgap', 'violinmode', 'width',
#     'xaxis', 'yaxis'

x0=sat[sat_not_mandatory_and_over_50].State
y0=sat.Total

trace1 = go.Bar(x=x0, y=y0,
               marker={'color': 'rgb(153, 255, 153)'})

# Valid attributes for Barplot:

data = [trace1]

fig = go.Figure(data=data, layout=layout)

py.iplot(fig)

In [39]:
df = act

for col in df.columns:
    df[col] = df[col].astype(str)

df['text'] = df['State'] + '<br>' +\
'Participation: '+df['Participation']


data = [ dict(
        type='choropleth',
        colorscale = 'Viridis',
# 'Blackbody'
# ‘Bluered’,
# ‘Blues’,
# ‘Earth’,
# ‘Electric’,
# ‘Greens’,
# ‘Greys’,
# ‘Hot’,
# ‘Jet’,
# ‘Picnic’,
# ‘Portland’,
# ‘Rainbow’,
# ‘RdBu’,
# ‘Reds’,
# ‘Viridis’,
# ‘YlGnBu’,
# ‘YlOrRd’
        autocolorscale = False,
        locations = df['code'],
        z = df['Participation'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Percentage Rates")
        ) ]

layout = dict(
        title = 'ACT Participation Rates by State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot(fig)

In [40]:
layout = go.Layout(
    autosize=False,
    barmode='overlay', 
    title="SAT v. ACT Participation", 
    xaxis={'title':'Percentage'}, 
    yaxis={'title':'Count'})

#      Valid attributes for Layout:

#     'angularaxis', 'annotations', 'autosize', 'bargap', 'bargroupgap',
#     'barmode', 'barnorm', 'boxgap', 'boxgroupgap', 'boxmode', 'calendar',
#     'colorway', 'datarevision', 'direction', 'dragmode', 'font', 'geo',
#     'grid', 'height', 'hiddenlabels', 'hiddenlabelssrc', 'hidesources',
#     'hoverdistance', 'hoverlabel', 'hovermode', 'images', 'legend',
#     'mapbox', 'margin', 'orientation', 'paper_bgcolor', 'plot_bgcolor',
#     'polar', 'radialaxis', 'scene', 'separators', 'shapes', 'showlegend',
#     'sliders', 'spikedistance', 'ternary', 'title', 'titlefont',
#     'updatemenus', 'violingap', 'violingroupgap', 'violinmode', 'width',
#     'xaxis', 'yaxis'


x0 = act.Participation
x1 = sat.Participation
hist_data = [x0, x1]

trace1 = go.Histogram(x=x0, 
                      autobinx=False, 
                      name=("ACT Participation"),
                      marker={'color': 'rgb(255, 255, 102)'},
                      opacity=0.75, 
                      xbins={'start': 0, 'end': 101, 'size': 10})

trace2 = go.Histogram(x=x1, 
                      autobinx=False, 
                      name=("SAT Participation"), 
                      marker={'color': 'rgb(0, 204, 204)'},
                      opacity=0.75, 
                      xbins={'start': 0, 'end': 101, 'size': 10})

# Valid attributes for histogram:

#     'autobinx', 'autobiny', 'bardir', 'cumulative', 'customdata',
#     'customdatasrc', 'error_x', 'error_y', 'histfunc', 'histnorm',
#     'hoverinfo', 'hoverinfosrc', 'hoverlabel', 'ids', 'idssrc',
#     'legendgroup', 'marker', 'name', 'nbinsx', 'nbinsy', 'opacity',
#     'orientation', 'selected', 'selectedpoints', 'showlegend', 'stream',
#     'text', 'textsrc', 'type', 'uid', 'unselected', 'visible', 'x',
#     'xaxis', 'xbins', 'xcalendar', 'xsrc', 'y', 'yaxis', 'ybins',
#     'ycalendar', 'ysrc'

data = [trace1, trace2]

fig = go.Figure(data=data, layout=layout)

py.iplot(fig)